<%= page_header("Show board") %>

<%= render :partial => 'action_links' %>


<div class="span10">
    <p>
    <b>Name:</b>
    <%= @board.name %>
  </p>
    <p>
    <b>Description:</b>
    <%= @board.description %>
  </p>
</div>


